[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "*"
"boto3" = "*"
tabulate = "*"
driftconfig = { git = 'https://github.com/dgnorth/drift-config.git', ref = 'develop', extras = ["s3-backend", "redis-backend"]}

[dev-packages]

[requires]
python_version = "2.7"
